<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>eSchool | home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>


<!-- jumbotron   -->

<div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container text-sm-center pt-5">
        <h1 class="display-2">eSchool SystemNEXT</h1>
        <p class="lead">Тестовое задание "Электронная школа"</p>
    </div>
</div>
<form>
    <div class="container">
        <!-- TODO: не выводит значение из FlashMessage -->
        <div class="alert alert-success" th:if="${flash}" th:text="Добавлен">Новый ученик добавлен</div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">

                    <th scope="row" th:text="${student.id}">1</th>
                    <td> <a th:text="${student.name}" th:href="@{'/student/' + ${student.name}}" style="text-decoration: none;"> Mark </a></td>
                    <td> <a th:text="${student.faculty}" th:href="@{'/student/' + ${student.name}}"> Otto </a></td>
                    <td> <a th:text="${student.course}" th:href="@{'/student/' + ${student.name}}"> @OTM </a></td>
            </tr>
            </tbody>
        </table>

        <div class="col-sm-10">
            <a href="/students/add" class="btn btn-primary">Добавить нового студента</a>
        </div>
    </div>
</form>

<!--  footer    -->
<div class=" text-md-center">
    <small>&copy; 2017 GreetGo!</small>
</div>

<!-- jQuery first, then bootstrap js -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>