<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>eSchool | home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/custom.css}"/>
</head>
<body>


<!-- jumbotron   -->

<div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container text-sm-center pt-5">
        <h1 class="display-2">eSchool System</h1>
        <p class="lead">Тестовое задание "Электронная школа"</p>
    </div>
</div>
<form th:object="${student}">
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Faculty</th>
                <th scope="col">Course</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${student.name}">Mark</td>
                <td th:text="${student.faculty}">Otto</td>
                <td th:text="${student.course}">@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

        <div class="form-group row">
            <div class="container">
            <form th:action="@{|/students/${student.id}/delete|}" method="post">
                <button class="btn btn-primary" type="submit" id="delete_btn">Удалить</button>
                <a th:href="@{|/students/${student.id}/edit|}" class="btn btn-primary">Редактировать</a>
            </form>
            </div>

        </div>



<!--  footer    -->
<div class=" text-sm-center">
    <small>&copy; 2017 GreetGo!</small>
</div>

<!-- jQuery first, then bootstrap js -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>